.input{

    width:100%;

    height:56px;

    border:2px solid var(--border);

    border-radius:14px;

    padding:0 18px;

    outline:none;

    transition:.3s;

    background:white;

}

.input:focus{

    border-color:var(--secondary);

}