.section-tag{

    display:inline-block;
    
    padding:8px 18px;
    
    background:#DBEAFE;
    
    color:#2563EB;
    
    border-radius:40px;
    
    font-weight:700;
    
    font-size:14px;
    
    margin-bottom:18px;
    
    }
    
    .section-title{
    
    font-size:48px;
    
    font-weight:800;
    
    color:#0F172A;
    
    margin-bottom:20px;
    
    }
    
    .section-subtitle{
    
    max-width:700px;
    
    margin:auto;
    
    color:#64748B;
    
    font-size:20px;
    
    line-height:1.8;
    
    }